body {
    margin: 0px;
}

header {
    background-color: lightgray;
}

nav{
    border-bottom: 1px solid #ccc;
    }
    nav ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    }
    nav ul li{
    display: table-cell;
    min-width: 50px;
    border-right: 1px solid #ccc;
    }
    nav ul li:first-child{
    border-left: 1px solid #ccc;
    }
    nav ul li a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #aaa;
    }
    nav ul li a:hover{
    background-color:rgb(233, 233, 233);
    }
    nav ul .current a{
    border-bottom: 5px solid #00B0F0;
    color: #00B0F0;
    }

h1 {
    text-align: center;
    margin: 0px;
    margin-bottom: 30px;
}

.test {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 250px;
}

.selectFileButton {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}